
URL_DATA=https://huggingface.co/datasets/Songuyen/FAS.V1.0/resolve/main/Data_FAS_v0.1.zip

# Đường dẫn và danh sách tệp dữ liệu
ROOT=./DATASET/Data_FAS_v0.1
TRAIN_LIST=train_1109.txt
VAL_LIST=val_1109.txt

ARCH=resnet50
SINGLE_CENTER_LOSS=True
SINGLE_CENTER_LOSS_WEIGHT=0.001

NUM_CLASS=2
INPUT_SIZE=224
BATCH_SIZE=64
WORKERS=64

OPTIMIZER=AdamW
LEARNING_RATE=0.001
WEIGHT_DECAY=0.0005
EPOCHS=70
PRINT_FREQ=40
SAVE_FREQ=1
ACCUMULATE_STEP=2

PRETRAIN=./pretrained/full_resnet50.pth
SAVED_MODEL_DIR=./outputs/ZZZ_1109_LIVE_WEIGHT_1.0_addblur_resnet

IMBALANCED_SAMPLER=False
FP16=False
LIVE_WEIGHT=1

USING_WANDB=True
WANDB_ENTITY=sonnguyen222k
WANDB_KEY=44b383067a5a3c615dbec0050b65c1950147c6ff
WANDB_PROJECT=Training Face Anti-Spoofing
NOTES=train
SUFFIX_RUN_NAME=training_v1
SAVE_ARTIFACTS=False

TOTAL_STEPS=0
WARMUP_EPOCHS=2
RESUME=None

NPROC_PER_NODE=2
