
URL_DATA=https://huggingface.co/datasets/Songuyen/FAS.V1.0/resolve/main/Data_FAS_v0.1.zip

# Đường dẫn và danh sách tệp dữ liệu
ROOT=./DATASET/Data_Fas_finetune_v0.2.1
TRAIN_LIST=train.txt
VAL_LIST=val.txt

ARCH=resnet50
SINGLE_CENTER_LOSS=True
SINGLE_CENTER_LOSS_WEIGHT=0.00001

NUM_CLASS=2
INPUT_SIZE=224
BATCH_SIZE=128
WORKERS=64

OPTIMIZER=AdamW
LEARNING_RATE=0.00001
WEIGHT_DECAY=0.00005
EPOCHS=7
PRINT_FREQ=40
SAVE_FREQ=1
ACCUMULATE_STEP=2

PRETRAIN=/home/thainq97/dev/cvpr2024-face-anti-spoofing-challenge/outputs/3008_LIVE_WEIGHT_2.0_addblur/resnet50_epoch014_acc1_99.7264.pth
SAVED_MODEL_DIR=./outputs/1009_LIVE_WEIGHT_1.0_addblur_resnet_finetune

IMBALANCED_SAMPLER=True
FP16=False
LIVE_WEIGHT=1

USING_WANDB=True
WANDB_ENTITY=sonnguyen222k
WANDB_KEY=44b383067a5a3c615dbec0050b65c1950147c6ff
WANDB_PROJECT=Training Face Anti-Spoofing
NOTES=train
SUFFIX_RUN_NAME=training_v1
SAVE_ARTIFACTS=False

TOTAL_STEPS=0
WARMUP_EPOCHS=2
RESUME=/home/thainq97/dev/cvpr2024-face-anti-spoofing-challenge/outputs/3008_LIVE_WEIGHT_2.0_addblur/resnet50_epoch014_acc1_99.7264.pth

NPROC_PER_NODE=2
